[Unit]
Description=NDI Sender
After=network.target

[Service]
ExecStart=/opt/moip-toolkit/.venv/bin/python /opt/moip-toolkit/tx.py -x 1280 -y 720 --fps 60 --no-audio
WorkingDirectory=/opt/moip-toolkit
Restart=always
RestartSec=3

[Install]
WantedBy=default.target