[submodule "work/config/includes.chroot_after_packages/opt/utone-ndi-utils"]
	path = work/config/includes.chroot_after_packages/opt/utone-ndi-utils
	url = https://github.com/TechnoTUT/utone-ndi-utils
